@use "../../styles/abstracts/variables" as *;

.Dishes-All {
    margin-left: 0px;
    flex: 1;
    padding-left: 110px;
    font-family: "Barlow", sans-serif;

    .username-and-search-segment {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        text-align: left;

        .left-top-of-dishes {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background: none;

            .today-date {
                color: $font-color-light;
            }

            .username-of-hello {
                font-size: 44px;
                font-weight: 600;
                line-height: 28px;
                color: $orange-color;
                text-align: left;
                justify-content: flex-start;

                .username-of-hello-color {
                    color: bisque;
                }
            }
        }

        .search-bar-of-dishes {
            width: 100%;
            height: 48px;
            gap: 8px;
            border-radius: 8px;
            border: 1px solid $font-color-light;
            color: $font-color-light;
            background-color: #2D303E;
            padding-left: 35px;
        }
    }

    .search-bar-container {
        position: relative;
        height: fit-content;
        height: 100%;
        width: 250px;
        transform: translate(-20px, 27px);

        .search-icon-logo {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-70%);
            width: 25px;
            z-index: 1;
        }
    }

    .dishes-main {
        display: flex;
        flex-direction: column;
        width: 100%;

        .dishes-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            margin-top: 30px;
            background: none;
            width: 94%;
        }


        .top-segment-for-dishes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 25px;

            .dishes-title {
                font-size: 38px;
                font-weight: 600;
                line-height: 28px;
                padding: 10px;
                color: $font-color-white;
                display: flex;
                text-align: center;
                align-items: center;
            }

            .options-for-dishes {
                width: 126px;
                height: 48px;
                padding: 12px;
                gap: 10px;
                border-radius: 8px;
                border: 1px solid $font-color-light;
                background-color: $dashboard-divs;
                color: $font-color-white;
                margin-right: 80px;
            }
        }
    }

    .dish-image {
        width: 132px;
        position: relative;
        top: -35px;
    }

    .dish-name {
        display: flex;
        width: 70%;
        font-size: 14px;
        font-weight: 500;
        line-height: 18.2px;
        text-align: center;
        margin-bottom: 10px;
    }

    .dish-price {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.6px;
        text-align: center;
        margin-bottom: 20px;
    }

    .dish-card {
        display: flex;
        flex-direction: column;
        width: 31%;
        cursor: pointer;
        align-items: center;
        background-color: $dashboard-divs;
        margin-bottom: 40px;
        border-radius: 15px;
        border: none;
        color: $font-color-white;

        &:hover {
            box-shadow: 0px 0px 20px 0px $dashboard-divs;
        }
    }

    .category-tabs-dishes {
        display: flex;
        flex-direction: row;
        padding: 20px 0;
        text-align: center;
        background: none;
        width: 100%;

        .category-tabs button {
            background: none;
            color: $font-color-white;
            padding: 10px 20px;
            cursor: pointer;
            border: none;
            border-bottom: 2px solid $font-color-light;
        }

        .category-tabs button.active {
            color: $orange-color;
            border-bottom: 2px solid $orange-color;
        }

    }
}

@media screen and (max-width: 1400px) {
    .Dishes-All {
        .username-and-search-segment {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .search-bar-container {
            transform: translate(0px, 0px);
            margin: 5px;

        }
    }
}

@media screen and (max-width: 1285px) {
    .Dishes-All {
        .dish-image {
            width: 90px;
            top: -10px;
        }
    }
}

@media screen and (max-width: 975px) {

    .dishes-main {
        width: 100%;
    }

    .username-and-search-segment {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .category-tabs-dishes {
        width: 100%;
    }

    .Dishes-All {
        .dish-image {
            width: 80px;
        }
    }
}

@media screen and (max-width: 900px) {
    .Dishes-All {
        padding-left: 70px;
    }
}

@media screen and (max-width: 700px) {
    .Dishes-All {
        width: 100%;
        padding-left: 65px;
    }
}

@media screen and (max-width: 660px) {

    .dish-image {
        width: 80%;
        position: relative;
        top: -15px;
    }

    .Dishes-All {
        width: 100%;

        .dish-card {
            width: 43%;
        }

        .dish-name {
            font-size: 14px;
        }

        .username-and-search-segment {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .search-bar-of-dishes {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: flex-end;
                position: relative;
                left: 12px;
            }
        }

        .search-bar-container {
            width: 80%;

            .search-icon-logo {
                left: 20px;
            }
        }

        .dishes-main {
            .top-segment-for-dishes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .Dishes-All {
        width: 100%;
        padding-left: 65px;
    }
}

@media screen and (max-width: 500px) {
    .Dishes-All {
        width: 100%;

        .username-and-search-segment {
            .left-top-of-dishes {
                .username-of-hello {
                    font-size: 30px;

                    .username-of-hello-color {
                        font-size: 30px;
                    }
                }
            }
        }

        .dish-image {
            width: 50px;
            top: 0px;
        }
    }

    .dishes-main {
        .top-segment-for-dishes {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    }
}

@media screen and (max-width: 333px) {
    .Dishes-All {
        margin-left: 0px;
    }
}