@use "../../styles/abstracts/variables" as *;

.settings-page {
    display: flex;
    flex-direction: row;
    color: $font-color-white;
    background-color: $primary-bg;
    font-family: "Barlow", sans-serif;

    .set-product-div {
        display: flex;
        flex-direction: row;
        padding-bottom: 28px;
        width: 100%;

        .order-report-container {
            margin: 30px;
        }

        .add-to-settings-sidebar {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .order-payment {
                display: flex;
                flex: 1.0;
                margin: 30px 25px 0px 25px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .settings-page {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .set-product-div {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 11px;
                padding: 0px;
            }
        }
    }
}