@use "../../../styles/abstracts/variables" as *;

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black-color(0, 0, 0, 0.5);
    z-index: 999;
    font-family: "Barlow", sans-serif;

    .innerCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $font-color-white;
        color: $black-color;
        padding: 20px;
        align-items: center;
        gap: 20px;

        .modal-form {
            display: flex;
            gap: 10px;

            input {
                padding-left: 10px;
            }
        }

        h1 {
            font-size: 40px;
            font-weight: 500;
        }

        button {
            padding: 10px 10px;
            background-color: #754434;
            border: none;
            cursor: pointer;
            width: 100px;
            color: $font-color-white;
        }
    }
}