.dashboard-header-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    gap: 15px;

    padding-bottom: 20px;

    .dashboards-parts-all {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .top-header-dashboard {
        .dashboard-h1 {
            font-family: "Barlow", sans-serif;
            font-size: 40px;
            font-weight: 600;
            line-height: 39.2px;
            text-align: left;

            width: fit-content;
            padding: 10px;
            padding-left: 20px;
        }

        .dashboard-p {
            font-family: "Barlow", sans-serif;
            font-size: 18px;
            font-weight: 300;
            line-height: 39.2px;
            text-align: left;

            width: fit-content;

            padding-left: 20px;
            color: #ABBBC2;
        }
    }

    .dashboard-part {
        display: flex;
        flex-direction: column;
        background-color: #1F1D2B;
        gap: 5px;
        padding: 16px;
        border-radius: 8px;
        width: 33%;

        .logos-dashboard {
            height: 33%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .icon-dolar {
                width: 38px;
                height: 38px;
                gap: 10px;
                border-radius: 8px;
            }

            .percentage-dashboard-text {
                font-family: "Barlow", sans-serif;
                font-size: 12px;
                font-weight: 500;
                line-height: 16.8px;
                text-align: left;

            }

            .icon-up-arrow {
                width: 14px;
                height: 14px;

            }
        }

        .price-of-dashboard {
            //styleName: Heading/H1;
            font-family: "Barlow", sans-serif;
            font-size: 25px;
            font-weight: 600;
            line-height: 39.2px;
            text-align: left;

            height: 33%;
        }

        .dashboard-text {
            height: 33%;
            font-family: Barlow;
            font-size: 14px;
            font-weight: 500;
            line-height: 18.2px;
            text-align: left;
            color: #ABBBC2;
        }
    }
}

@media screen and (max-width: 710px) {
    .dashboard-header-main {
        width: 100%;
        gap: 3px;

        .dashboard-part {
            width: 33%;
        }
    }
}

@media screen and (max-width: 500px) {
    .dashboard-header-main {
        width: 100%;
        gap: 5px;
        display: flex;
        flex-direction: column;

        .dashboards-parts-all {
            display: flex;
            flex-direction: column;

            .dashboard-part {
                width: 100%;
                display: flex;
                flex-direction: row;
                padding: 5px;

                .price-of-dashboard {
                    font-size: 16px;
                }

                .logos-dashboard {
                    .icon-dolar {}
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .dashboard-header-main {
        .dashboards-parts-all {
            .dashboard-part {
                .logos-dashboard {
                    gap: 3px;
                }

                .price-of-dashboard {
                    font-size: 10px;
                }

                .dashboard-text {
                    display: none;
                }
            }
        }
    }
}