.order-conff-main {
    display: flex;
    flex-direction: column;
    height: min-content;
    flex: 0.5;
    font-family: "Barlow", sans-serif;
    background-color: #1F1D2B;
    border-radius: 15px;
    margin-right: 0px;
    padding: 20px;

    .title-order-conf {
        .part-of-title-conf {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            justify-content: start;

            .h3-order-conf {
                font-size: 18px;
                font-weight: 600;
                color: #ABBBC2;
            }

            .h1-order-conf {
                font-size: 28px;
                font-weight: 600;
                color: #ffffff;
            }
        }

        .adding-button-class {
            width: 40px;
            height: 40px;
        }
    }

    .order-conf-body {
        display: flex;
        height: 100%;
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 20px;

        .conf-left-order-part {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: min-content;

            .conf-pic-and-name-and-price {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;

                .conf-pic-and-name-and-price-2 {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    width: 100%;
                    padding-bottom: 20px;
                    padding-top: 20px;

                    .food-photos-order-conf {
                        width: 40px;
                        height: 40px;
                    }

                    .name-and-price-div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        color: white;

                        .name-and-price-p {
                            font-family: Barlow;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 18.2px;
                            text-align: left;
                            color: #ABBBC2
                        }
                    }

                }

                .total-piece-of-food {
                    width: 48px;
                    height: 48px;
                    padding: 14px 14px 12px 14px;
                    gap: 8px;
                    border-radius: 8px;
                    border: 2px solid #393C49;
                    background-color: #2D303E;
                    text-align: center;
                    color: white;
                }
            }

            .food-customer-note {

                width: 100%;
                height: 48px;
                padding: 14px;
                gap: 8px;
                border-radius: 8px;
                border: 2px solid #393C49;
                background-color: #2D303E;
                border-color: #393C49;
                color: white;
            }
        }

        .conf-right-order-part {
            display: flex;
            flex-direction: column;
            width: 20%;
            align-items: center;
            height: 100%;
            justify-content: start;

            .price-of-order-conf {

                width: 100%;
                text-align: center;
                height: 56px;
                align-content: center;
                font-size: 16px;
            }

            .reset-button-conf {
                display: flex;
                width: 80%;
                padding: 14px;
                gap: 10px;
                border-radius: 8px;
                border: 1px;
                height: 43%;
                justify-content: center;
                align-items: center;
                border: 2px solid #EA7C69;
                background-color: #1F1D2B;
                cursor: pointer;

                .reset-button-conf-img {
                    width: 20px;
                    height: 20px;
                }

                .reset-button-conf:hover {
                    background-color: #37334b;
                }

                .reset-button-conf:active {
                    background-color: #111018;
                }
            }
        }
    }

    .discount-subtotal-div-line {
        display: flex;
        justify-content: space-between;
    }

    .discount-subtotal-div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 45px;
        padding-top: 20px;
        border-top: solid 1px grey;

        .discount-subtotal-div-line {
            display: flex;
            justify-content: space-between;
        }

        .discount-subtotal-p {
            font-size: 16px;
            color: #ABBBC2;
        }
    }
}

@media(max-width: 1300px) {
    .order-conff-main {

        margin-left: 120px;
    }
}

@media(max-width: 900px) {
    .order-conff-main {

        margin-left: 0px;
    }
}

@media(max-width: 585px) {
    .order-conff-main {
        margin-right: 27px;
        margin-left: 0px;
    }
}

@media(max-width: 335px) {
    .order-conff-main {
        margin-right: 27px;
        margin-left: 0px;

        .title-order-conf {
            .part-of-title-conf {
                .h1-order-conf {
                    font-size: 20px;
                }
            }
        }
    }
}

@media(max-width: 335px) {
    .order-conff-main {
        margin-right: 27px;
        margin-left: 70px;

        .title-order-conf {
            .part-of-title-conf {
                .h1-order-conf {
                    font-size: 20px;
                }
            }
        }
    }
}