@use "../../styles/abstracts/variables" as *;

.chart-container {
    width: 400px;
    height: 400px;
    padding: 55px;
    background-color: $dashboard-divs;
    position: relative;
    margin-left: 30px;
    border-radius: 20px;
    font-family: "Barlow", sans-serif;

    .top-donut {
        width: 100%;
        border-bottom: 1px solid $font-color-light;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

        .top-donut-h2 {
            color: $font-color-white;
            font-size: 24px;
        }

        .most-type-of-order-button {
            width: 95px;
            height: 45px;
            padding: 5px;
            border-radius: 8px;
            border: 1px solid #393C49;
            color: $font-color-white;
            background-color: rgba(31, 29, 43, 1);
            outline: none;
        }
    }

    canvas {
        max-height: calc(100% - 40px); // Üst ve alt padding'i çıkar
    }
}

@media screen and (max-width: 1300px) {
    .chart-container {
        width: 400px;
        height: 278px;
    }
}

@media screen and (max-width: 510px) {
    .chart-container {
        width: 210px;
        height: 200px;
        padding: 27px;
        margin-left: 10px;

        .top-donut {
            .most-type-of-order-button {
                width: 20px;
            }

            .top-donut-h2 {
                font-size: 16px;
            }
        }
    }
}