.mainnet-logo-second {
    position: fixed; // Sabit pozisyon, navbar'ın kaydırmalardan etkilenmemesini sağlar
    top: 0; // Üstten itibaren başlar
    bottom: 0; // Alt kenara kadar uzanır
    left: 0; // Sol taraftan başlar
    width: 100px;
    color: white; // Metin rengi beyaz olarak ayarlanmıştır
    overflow-y: auto; // Yatay kaydırmayı etkinleştirir, menü çok uzunsa kaydırma çubuğu ekler
    background-color: #1F1D2B;

    .logo-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 11vh;
        align-items: center;

        img {
            width: 70px;
            height: 70px;
        }
    }

    .single-nav {

        display: flex;
        width: 100%;
        justify-content: center;
        height: 12vh;
        align-items: center;

        // &:hover {
        //     background-color: #363050; // İstediğiniz arkaplan rengi
        // }

        .parent-inner-container-for-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 94%;
            width: 83%;
            cursor: pointer;
            background-color: #1F1D2B;
            transition: all 0.3s ease-in-out;




            .inner-container-for-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 65%;
                width: 65%;
                cursor: pointer;

                border-radius: 10px;
                z-index: 1;
                transition: all 0.3s ease-in-out;

            }
        }

        .parent-inner-container-for-nav.active {
            background-color: #252836;
            border-radius: 10px;

        }

        .inner-container-for-nav.active {
            background-color: #EA7C69;
            box-shadow: 0px 8px 24px 0px #EA7C6952;

            .other-nav-logo {
                filter: brightness(0) invert(1);
            }
        }



        .a-logo-nav-photo {
            display: flex;
            justify-content: center;
            height: min-content;

        }

        .logo-nav-photo {
            justify-content: center;
            display: flex;
        }

        .other-nav-logo {
            display: flex;
            width: 25px;
            height: 25px;
            cursor: pointer;
            justify-content: center;


        }
    }

    .single-nav.active {
        // background-color: #393C49;
    }
}


@media screen and (max-width: 900px) {
    .mainnet-logo-second {
        width: 50px;

        .logo-nav {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }

}