@import "../../styles/abstracts/placeholders";

.mainRoot {
  @extend %main-container;
  position: relative;
  display: flex;
  flex-direction: row;

  .mainRoot-column {
    display: flex;
    flex-direction: column;
  }

}