@import "../../styles/abstracts/placeholders";

.mainRoot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #242836;
  color: white;

  .new-div {
    display: flex;
    flex: 1;
    gap: 20px;
  }

  .mainRoot-column {
    display: flex;
    flex-direction: column;
  }

  .mainRoot-column-two {
    display: flex;
    flex-direction: row;
    width: 55%;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 950px) {
  .mainRoot {
    display: flex;
    flex-direction: column;

    .new-div {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .mainRoot {
    .new-div {
      padding-left: 70px;

    }
  }
}

@media screen and (max-width: 585px) {
  .mainRoot {
    display: flex;
    flex-direction: column;

    .new-div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 20px;
    }
  }
}