@import "../../styles/abstracts/placeholders";

.mainRoot {
  @extend %main-container;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #242836;

  .mainRoot-column {
    display: flex;
    flex-direction: column;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
  }

}